@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;500;700;900&display=swap');

:root{

  font-size: 12px;
  font-family: 'League Spartan', sans-serif;

  --color-primary: #f5f5f5;
  --color-primary-dimmed: #ffffffda;

  --color-secondary: #212121;
  --color-secondary-light: #777777;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;
}

::selection{
  background: var(--color-secondary);
  color: var(--color-primary-dimmed);
}

html, body{
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto; 
  background: var(--color-primary);
}

#sorry-message{
  padding: 0 5%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

#sorry-message p{
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-secondary);
}

#sorry-message button{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--color-primary);
  background: var(--color-secondary);
  padding: .5rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: .25rem;
}

#about-me-text{
   line-height: 4.25rem;
}

#about-me-text span{
   display: block;
   font-weight: bold;
   font-size: 6rem;
   margin: 3rem 0; 
}

#about-me-text a{
   width: fit-content;
   padding: 1rem 2rem;
   border-radius: .25rem;
   text-decoration: none;
   color: var(--color-secondary);
   border: solid 1px var(--color-secondary);
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   border-radius: .5rem;
   margin: 0 auto;
}

#about-me-text a i{
   font-size: 2rem;
}

.inverted{
   background-color: var(--color-secondary);
   color: var(--color-primary);
   padding: 1rem 0;
   font-weight: normal;
   font-size: 3rem !important;
   margin: 0 !important;
   width: fit-content;
}

#app{

  height: 100%;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */

header{
   position: sticky;
   top: 0;
   left: 0;

   width: 100%;
   height: 8rem;
   display: grid;
   grid-template-rows: 8rem 1fr;
   justify-content: space-between;
   align-items: center;
   background: var(--color-primary);

   z-index: 1;
}

header *{
   color: var(--color-secondary-light);
}

header > a{
   margin-left: 5vw;
   grid-row: 1;
   grid-column: 1 / 2;
}

header nav{
   padding: 0 5vw;
   grid-column: 1 / 3;
   grid-row: 2;
   background: var(--color-primary);
}

header nav ul{
   list-style: none;
   display: none;
   flex-direction: column;
   gap: 3rem;
   background: var(--color-primary);

   padding: 1rem 0;
   border-bottom: solid 1px var(--color-secondary-light);
}

header a{
font-size: 2rem;
font-weight: 400;
text-decoration: none;
}

header a:hover{
color: var(--color-secondary);
}

#nav-toggle-button{
   grid-row: 1;
   grid-column: 2;
   font-size: 2rem;
   place-self: center flex-end;
   cursor: pointer;

   height: 3rem;
   width: 3rem;

   margin-right: 5vw;
}

#nav-toggle-button span{
   display: block;
   height: .25rem;
   width: 3rem;
   background: var(--color-secondary-light);
   margin: .5rem 0;
   border-radius: .25rem;
}

#nav-toggle:checked ~ #nav-toggle-button span:nth-child(1){
   transform: translateY(0.25rem);
}

#nav-toggle:checked ~ #nav-toggle-button span:nth-child(2){
   opacity: 0;
}

#nav-toggle:checked ~ #nav-toggle-button span:nth-child(3){
   transform: translateY(-0.25rem);
}

#nav-toggle:checked ~ nav ul{
   display: flex;
}

/* Main */

main{
   padding: 0 5%;
}

h1{
   font-size: 3rem;
   font-weight: 400;
   color: var(--color-secondary);

   margin: 0 0 5% 0;
}

#projects-grid{
   width: 100%;
   height: auto;
   display: grid;
   grid-row: repeat(auto-fit, 1fr);
   grid-gap: 2rem;
   padding: 2rem 0;
   user-select: none;
}

#projects-grid .grid-item{
   min-height: 30rem;
   background: #FFFFFF;
   border-radius: 1rem;
   position: relative;
}

.grid-item img{
   height: 30rem;
   width: 100%;
   object-fit: cover;
   border-radius: 1rem 1rem 0 0;
}

.grid-item .overlay{
   padding: 1.5rem 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 1.5rem;
}

.grid-item .overlay .project-title{
font-size: 3rem;
font-weight: 500;
color: var(--color-secondary);

place-self: center;
}

.grid-item .overlay .project-description{
min-width: 50%;
width: 30rem;
max-width: 75%;
font-size: 2rem;
font-weight: 400;
color: var(--color-secondary);
text-align: center;

line-height: 2.25rem;
}

.grid-item .overlay .lang-and-tech{
place-self: center flex-end;
height: auto;
width: auto;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: .5rem;
}

.grid-item .overlay .lang-and-tech > svg{
height: 2.5rem;
width: 2.5rem;
margin-right: 1rem;
color: var(--color-secondary-light);
}

/* Footer */

footer{
height: 10rem;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: .5rem;
background-color: var(--color-primary);
margin: 2rem 0;
}

footer p{
width: 100%;
font-size: 1rem;
font-weight: 400;
color: var(--color-secondary-light);
text-align: center;
margin: 0 0 2rem 0;
}

footer a{
text-decoration: none;
color: var(--color-secondary-light);
border-bottom: transparent 1px solid;
font-size: 2rem;
}

footer a:hover{
color: var(--color-secondary);
border-bottom: var(--color-secondary) 1px solid;
}


@media screen and (min-width: 768px) {

  #sorry-message{
    height: 5rem;
  }
   
   /* Header */

   header{
   width: 100%;
   min-height: 10rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: var(--color-primary);
   }

   header a{
   font-size: 1.5rem;
   }

   #nav-toggle-button{
   display: none;
   }

   header nav ul{
   list-style: none;
   display: flex;
   flex-direction: row;
   gap: 3rem;

   border-bottom: none;
   }

   /* Main */

   h1{
    margin: 2rem 0 5% 0;
   }

   #projects-grid{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, .5fr));
   grid-gap: 2rem;
   padding: 2rem 0;
   user-select: none;
   }

   #projects-grid .grid-item:hover{
   transform: scale(1.05);
   }

   #projects-grid .grid-item:hover .overlay{
   opacity: 1;
   display: flex;
   }

   .col-2{
   grid-column: span 2;
   }

   .grid-item.hidden, .overlay.hidden{
   opacity: 0;
   display: none;
   }

   .grid-item img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
 }

   .grid-item .overlay{

   border-radius: inherit;

   position: absolute;
   top: 0;
   left: 0;

   background: var(--color-primary-dimmed);
   height: 100%;
   width: 100%;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 1.5rem;
   }

}